extends ../layout/app

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")


block contenido
    div.py-5       
        h2.text-center.text-2xl.font-extrabold= pagina
        if errores 
            div(class="max-w-md mx-auto my-10")
                each error in errores 
                    p.bg-red-600.text-white.uppercase-text-xs.text-center.p-2.mb-1.fond-bold= error.msg
        div(class="container bg-white shadow py-4 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            div.flex.justify-between.items-center.mb-4
                //button(class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded") Focus de Mantenimiento
                //button(class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded") Cerrar Mantenimiento
                
            table#tabla(class="stripe hover" style="width: 100%; padding-top: 1em; padding-botton: 1em;")
                thead 
                    tr(class="bg-indigo-400 bg-opacity-100 text-white")
                        th(data-priority=1) Id
                        th(data-priority=2) NombreTabla
                        th(data-priority=3) NombreArchivo
                        th(data-priority=4) FechaRegistro
                        th(data-priority=5) Validar
                        th(data-priority=6) Editar
                        th(data-priority=7) Eliminar
                tbody 
                    each objeto in data
                        tr
                            td.id=objeto.id ? objeto.id : ''
                            td.nombretabla=objeto.nombretabla ? objeto.nombretabla : ''
                            td.nombrearchivo=objeto.nombrearchivo ? objeto.nombrearchivo : ''
                            td.createAt=moment(objeto.createdAt).format('DD/MM/YYYY') ? moment(objeto.createdAt).format('DD/MM/YYYY') : ''
                            td 
                                form(method="GET" action="/objeto/validacion" )
                                    input(type="hidden" name="_csrf" value=csrfToken)
                                    input(type="hidden" name="id" value=id)
                                    button(class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded") Validar
                            td
                                button(class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded") Editar
                            td
                                button(class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded") Eliminar
                  
